INSTALL_DIR='/opt'
PKG_NAME_PREFIX='bigcorp'
BOT_RELEASE='1'
BOT_OWNER='Bot Wrangler <bw@example.com>'
BOT_NAME='hubot'
BOT_DESCRIPTION="Delightfully aware robot"
BOT_PORT=8081
MATTERMOST_ENDPOINT=/hubot/incoming
MATTERMOST_CHANNEL=town-square
MATTERMOST_INCOME_URL=http://localhost/hooks/ncwc66caqf8d7c4gnqby1196qo
MATTERMOST_TOKEN=oqwx9d4khjra8cw3zbis1w6fqy
MATTERMOST_ICON_URL=https://s3-eu-west-1.amazonaws.com/renanvicente/toy13.png
MATTERMOST_HUBOT_USERNAME="hubot"
MATTERMOST_SELFSIGNED_CERT=true
